# Игнорируем виртуальное окружение
venv/

# Игнорируем файлы и папки, связанные с IDE
.idea/
*.iml

# Игнорируем файлы журналов
*.log

# Игнорируем результат тестирования Robot Framework
results/
output.xml
log.html
report.html
